<!DOCTYPE html>
<html>
<head>
  <title>Delete a Student</title>
</head>
<body>
  <h2>Delete a student by submitting their name below</h2>
  <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
